<div class="app-container">
  <nav class="navbar">
    <div class="nav-logo">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <img alt="Logo" src="../assets/icons/online-retail-logo.png">
      </a>
    </div>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/add-product" routerLinkActive="active-link">Add Product</a>
      <a routerLink="/place-order" routerLinkActive="active-link">Cart</a>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
