<div *ngIf="products.length > 0; else noProducts" class="products-container">
    <h2 class="products-header">Products List</h2>
    <div class="products-grid">
      <div *ngFor="let product of products" class="product-card">
        <h3 class="product-name">{{ product.ProductName }}</h3>
        <p class="product-quantity">Quantity: <strong>{{ product.Quantity }}</strong></p>
        <p class="product-status">
          Status: 
          <span [class.active]="product.IsActive" [class.inactive]="!product.IsActive">
            {{ product.IsActive ? 'Active' : 'Inactive' }}
          </span>
        </p>
        <button 
        (click)="addToCart(product)" 
        class="order-button">
        Add to Cart
      </button>
      </div>
    </div>
  </div>
  <ng-template #noProducts>
    <div class="no-products">
      <p>No products available.</p>
    </div>
  </ng-template>
  